<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link
      href="https://www.dafontfree.net/embed/cG9lLXZldGljYS1uZXctY29uZGVuc2VkJmRhdGEvNzQwL3AvMTc5Mzk1L1BPRSBWZXRpY2EgTmV3IENvbmRlbnNlZC50dGY"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="manifest" href="manifest.json">
    <!-- <script type="module" src="./app.js"></script> -->
    <title>Rijksmuseum</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.png" />
  </head>
  <body>
  <main>