<section id="art-list">
  <!-- Empty state / Skeleton State -->
  <!-- <div class="line5"></div> -->

  <br>
  <ul class="empty-list">
    <li>
      <div class="square"></div>
      <ul class="lines">
        <li class="line1"></li>
        <li class="line2"></li>
        <li class="line3"></li>
        <li class="line4"></li>
      </ul>
    </li>
    <li>
      <div class="square"></div>
      <ul class="lines">
        <li class="line1"></li>
        <li class="line2"></li>
        <li class="line3"></li>
        <li class="line4"></li>
      </ul>
    </li>
    <li>
      <div class="square"></div>
      <ul class="lines">
        <li class="line1"></li>
        <li class="line2"></li>
        <li class="line3"></li>
        <li class="line4"></li>
      </ul>
    </li>
    <li>
      <div class="square"></div>
      <ul class="lines">
        <li class="line1"></li>
        <li class="line2"></li>
        <li class="line3"></li>
        <li class="line4"></li>
      </ul>
    </li>
  </ul>





  <ul class="data-list">
    <% data.forEach((artObject)=> { %>
      <li class="<% artObject.id %>">
        <a href="#information">
          <img class="art" src="<%
            artObject.webImage.url.slice(0, -3) + "=s1000"
          %>" alt="<% detailed.artObject.title %>"/>
          <span><h3><% detailed.artObject.dating.sortingDate %></h3></span>
          <h1><% detailed.artObject.title %></h1>
        </a>
      </li>
      <% } %>

  </ul>

  <div class="next-page">
    <button class="page left"><i class="fa fa-angle-left"></i></button>
    <h1 class="page page-number">1</h1>
    <button class="page right"><i class="fa fa-angle-right"></i></button>
  </div>
</section>