<section id="information">
  <div class="empty-info">
    <div class="title-balk">
      <a href="#home">
        <button class="back">
          <i class="fa fa-angle-left back-arrow"></i>
        </button>
      </a>
      <div class="line6"></div>
    </div>
    <br />
    <div class="square2"></div>
    <ul>
      <li class="line7"></li>
      <li class="line8"></li>
      <li class="line7"></li>
      <li class="line9"></li>
      <li class="line8"></li>
      <li class="line7"></li>
      <li class="line8"></li>
      <li class="line8"></li>
      <li class="line9"></li>
      <li class="line8"></li>
    </ul>
  </div>
</section>