<%- include ('./partials/head') %>

<div>
  <h1>Oeps!</h1>
  <p>De pagina kunt u niet offline bekijken. </p>
  <a href="/" class="open-filter">Terug naar Home</a>
</div>

<%- include ('./partials/foot') %>


