* {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

main {
  max-width: 1100px;
  display: block;
  margin: 0 auto;
}

:root {
  --main: #40474f;
  --accent: #d55140;
  --primary: #c6cfd0;
}

header {
  background-color: var(--main);
  padding: 1.1rem;
  margin-bottom: 1rem;
}

body {
  background-color: #a0999980;
}

h1 {
  font-family: "Vetica", sans-serif;
  font-size: 1rem;
  max-width: 100%;
  /* flex-wrap: wrap; */
  color: var(--primary);
  /* margin-left: 3vw; */
}

li {
  list-style: none;
  display: flex;
  margin: 4vh 0;
}

img {
  width: 25vw;
  height: auto;
  margin: 0 2vh 2vw;
}

.logo {
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 70%;
  margin: 4vh auto 4vh auto;
  text-align: center;
  justify-self: center;
  fill: #fff;
}

button {
  /* position: relative; */
  border: none;
  /* background-color: var(--main); */
}
/* Sections */
#art-list {
  background-color: var(--main);
  padding: 1rem;
  border-radius: 20px 20px 0 0;
  margin: 0 1em 0 1em;
}
#information {
  background-color: var(--main);
  padding: 1rem;
}

/* Search bar */
form {
  display: block;
  width: 70%;
  margin: 0 auto;
  flex-direction: column;
}

#search-input {
  color: var(--main);
  padding: 0.45rem;
  border-color: var(--main);
  /* font-family: "Vetica"", sans-serif; */
  font-weight: 400;
  font-size: 1.3rem;
  border: none;
  width: 80%;
  border-radius: 0.25rem 0 0 0.25rem;
}

#search-input::placeholder {
  color: var(--primary);
}

.search-icon {
  /* position: absolute; */
  color: black;
  margin: auto;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
.search-button:hover {
  background-color: #24282c;
}
.search-button:active {
  background-color: #000;
}

.search-button {
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  padding: 0.45rem;
  border: none;
  cursor: pointer;
  border-radius: 0 0.25rem 0.25rem 0;
}

.open-filter {
  background-color: var(--accent);
  width: 20%;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 1rem;
}

.open-filter:hover {
  background-color: #8e3327;
}

.open-filter:after {
  background-color: var(--accent);
}

header form button .fa {
  font-size: 1.6rem;
}

header form {
  display: flex;
  flex-direction: row;
}
/* Error state */
h2 {
  font-family: "Vetica", sans-serif;
  font-size: calc(1.3vw + 1.3vh + 1.3vmin);
  color: var(--primary);
  text-align: center;
  font-weight: 800;
}


main section div .fa {
  color: var(--accent);
  display: flex;
  font-size: 2rem;
  margin: auto;
  justify-content: center;
}

/* De filter buttons */

/* Section of artwork */

.art {
  box-shadow: 0px 5px 5px #00000043;
  border: 3px solid #000;
}

.art-list {
  padding-top: 100px;
}

a {
  text-decoration: none;
  display: flex;
}

span {
  position: relative;
}

h3 {
  position: absolute;
  color: var(--main);
  font-family: "Vetica", sans-serif;
  background-color: #c2ccce;
  padding: 0.5em;
  font-weight: 800;
  font-size: calc(.5vw + .5vh + .5vmin);
  width: 15em;

  border-radius: 5px;
  top: 80%;
  right: 80%;
}

/* Styling detailed page */


.detailed-art {
  width: 25%;
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 1em;
  border: 2px solid black;
}

.detailed-description {
  font-family: 'Vetica', sans-serif;
  margin-top: 2em;
  color: var(--primary);

}
.back {
  background-color: var(--accent);
  width: auto;
  border-radius: 10px;
  font-family: 'Vetica', sans-serif;
  color: var(--primary);
  padding: 1em;
  height: calc(2vw + 2vh + 2vmin);
  text-align: center;
  cursor: pointer;
}

.back:hover {
  background-color: #8e3327;
}

h4 {
  padding-bottom: 1em;
}
/* Next Page */

.next-page {
  display: flex;
}

.page {
  font-size: calc(1.2vw + 1.2vh + 1.2vmin);
  font-weight: 400;
  margin: auto;
}



.page-number {
  font-family: "Vetica", sans-serif;
  font-weight: 600;
}

main section div .fa {
  color: #c2ccce;
  /* background-color: var(--accent); */
}


/* Extra stuff */

.hidden {
  display: none;
}

.dissapear {
  opacity: 0;
}
